.parcel-item {
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .item-id {
    font-size: small;
    font-style: italic;
  }

 
  .mat-mdc-card-actions {
    display: flex;
    justify-content: flex-end;
    transition: transform 0.2s ease, color 0.2s ease;

    .actions-item {
      visibility: hidden;

      cursor: pointer;
      &:hover {
        transform: scale(1.05);

        &.edit {
          color: #007bff;
        }

        &.delete {
          color: #dc3545;
        }
      }
    }
  }

  &:hover {
    .actions-item {
      visibility: visible !important;
    }
  }
}
