.parcel-management-page {
  height: calc(100vh - 115px);

  .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;

    .actions {
      margin-left: auto;
      display: flex;
      gap: 10px;

      align-items: center;
    }
  }

  .parcel-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  /**
    * Drawer styles
    */

  .drawer-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .drawer-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
